.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-green: #4b9421;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-transparent-black: rgba(0,0,0,0.5);
  --primary-light-grey: #9c9a9a;
  --primary-white-smoke: #F5F5F5;
  --primary-black: #000000;
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

/****************************Navbar******************************/
nav {
  z-index: 2;
}
.navbar {
  background: transparent;
}
.logo {
  width: 8rem;
}
/*---------------------------MENU LINKS-------------------------*/
nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

ul.navbar-nav.ml-auto {
  padding-top: 40px;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 5rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-green);
}


/****************************Header******************************/
.header-wrapper {
  position: relative;
  background: url(../src/images/background-city-blur2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

/*-------------Typed text---------------------------------------------*/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}
@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/*-------------Header main offer button--------------------------------*/
.btn-main-offer {
  border: 1px solid var(--primary-green);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-green);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}
/*-------------Particles JS-------------------------------------------*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}
/******************************CLIENTS**********************************/
.clinets {
  background-color: var(--primary-white);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}
.clinets h1 {
  color: var(--primary-green);
  padding: 3rem 0;
  text-transform: uppercase;
}
.clients-content {
  text-align: center;
  max-width: 52.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}
.carousel .slide {
  background: var(--primary-white) !important;
}
.carousel .slide img{
  width: 12rem !important;
  border-radius: 50%;
  margin-bottom: 30px;
}
.carousel-root {
  margin: auto !important;
  margin-bottom: 3% !important;
}

/******************************CONTACTS**********************************/
.form {
  background: var(--primary-white-smoke) !important;
  padding: 3rem 0;
}
.form h1 {
  color: var(--primary-green);
  padding: 1.3rem 0;
  text-transform: uppercase;
}
.form p {
  color: var(--primary-black);
  font-size: 1.5rem;
}
/*------------------------------INPUTS---------------------------------*/
.form input, .form textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-light-grey);
  border-radius: 0;
  color: var(--primary-black);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.form .container {
  padding: 4rem 0;
}

.form input:focus, .form textarea:focus {
  background: transparent;
  color: var(--primary-green);
  border-bottom: 0.125rem solid var(--primary-white-smoke);
}
.form textarea {
  height: 12.2rem !important;
}   
.form-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  color: var(--primary-black);
}
.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-green);
  display: inline-block;
}
input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}
input.form-control{
  margin: -0.3rem 0;
}

textarea.form-control{
  margin: -0.3rem 0;
}
.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}
.success-message {
  font-weight: 900;
  color: var(--primary-green);
}
/*------------------------------MEDIA---------------------------------*/
@media(max-width: 768px) {
  .form {
    overflow-x: hidden;
  }
  .form .container {
    padding: 0 1rem;
  }
  .form p {
    padding: 0 0.4rem;
  }
}
/******************************FOOTER**********************************/

.footer {
  background: var(--primary-white);
  color: var(--primary-black);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-black);
}

.footer a:hover {
  text-decoration: none;
  color:  var(--primary-green);
  cursor: pointer;
}
.footer p{
  margin-bottom: 0;
}